.tagline {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tagline__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 245px;
  outline: 1px solid tomato;
  padding: 93px 40px 193px 40px;
  text-align: center;
}

.tagline__title {
  outline: 1px solid green;
  width: 240px;
}

.tagline__list {
  margin: 0 auto;
  margin-top: -105px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tagline__item {
  list-style: none;
  background-color: greenyellow;
  width: 320px;
  height: 100px;
}
