.main-nav__toggle {
  display: none;
}

.main-nav__list-interactive {
  width: 320px;
  min-height: 2 * 79px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list {
  width: 320px;
  min-height: 2 * 79px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list-stock {
  display: none;
}

@media (min-width: 772px) {
  .main-nav {
    display: grid;
    grid-template-columns: 372px 82px 2fr;
    grid-template-rows: 88px 88px;
    width: 772px;
  }

  .main-nav__list-interactive {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
  }
  .main-nav__list {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
  }
}
