.main-nav__toggle {
  display: none;
}

.main-nav__list-interactive,
.main-nav__list {
  width: 320px;
  height: 2 * 79px;
  outline: 1px solid powderblue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list-stock {
  display: none;
}

@media (min-width: 772px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    height: 88px;
  }
}
