.menu-list__item {
  width: 320px;
  height: 79px;
  display: flex;
}

.menu-list__link {
  padding: 30px;
  padding-left: 76px;
}

@media (min-width: 772px) {
  .menu-list__link {
    padding: 0;
  }
}
