.product {
  display: flex;
  flex-direction: column;
  height: 820px;
  width: 322px;
  outline: 1px solid orange;
  padding: 0;
  margin: 0 auto;
}

.product__subtitle {
  padding: 0;
  margin: 0;
  margin-left: 29px;
  margin-top: 32px;
}

.product__tiile {
  padding: 0;
  margin: 0;
  margin-left: 29px;
}

.product__text {
  padding: 0;
  margin: 0;
  width: 250px;
  margin-left: 29px;
  margin-top: 30px;
}

.product__description {
  padding: 0;
  margin: 0;
  width: 250px;
  margin-left: 29px;
  margin-top: 33px;
}

.product__image {
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-top: 28px;
}

.product__price {
  margin: 0 auto;
  margin-top: 29px;
}
